src/csharp/Source/Client/PMUOE01030A.root/PMUOE01030A/PMUOE01030A/Web References/jp.mesaco.meijiweb/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://catalog.mesaco.jp/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://catalog.mesaco.jp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://catalog.mesaco.jp/">
      <s:element name="GetRequestData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsReq">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRequestDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestData" />
  </wsdl:message>
  <wsdl:message name="GetRequestDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MeijiWebAppSoap">
    <wsdl:operation name="GetRequestData">
      <wsdl:input message="tns:GetRequestDataSoapIn" />
      <wsdl:output message="tns:GetRequestDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MeijiWebAppSoap" type="tns:MeijiWebAppSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestData">
      <soap:operation soapAction="http://catalog.mesaco.jp/GetRequestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeijiWebAppSoap12" type="tns:MeijiWebAppSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestData">
      <soap12:operation soapAction="http://catalog.mesaco.jp/GetRequestData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeijiWebApp">
    <wsdl:port name="MeijiWebAppSoap" binding="tns:MeijiWebAppSoap">
      <soap:address location="https://meijiweb2.mesaco.jp/CatalogWebApp/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MeijiWebAppSoap12" binding="tns:MeijiWebAppSoap12">
      <soap12:address location="https://meijiweb2.mesaco.jp/CatalogWebApp/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>